:root {
  --header-height: 60px;
  --form-green: #2ad3ac;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #303846;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-header {
  padding-left: 20px;
  padding-right: 20px;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  flex-grow: 1;
}

.main-header a {
  font-weight: bold;
}

main {
  margin-top: var(--header-height);
}

nav {
  font-size: 13px;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ml-15 {
  margin-left: 15px;
}

.mr-13 {
  margin-right: 13px;
}

.w-30pr {
  width: 30%;
}

.bg-grey {
  background-color: #f7f7f7;
}

.bg-dark-blue {
  background-color: #303846;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.ali-c {
  align-items: center;
}

.col-white {
  color: #ffffff;
}

.intro {
  padding-top: 38px;
  padding-bottom: 29px;

  background-color: #757281;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
}

.intro-headline {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 48px;
}

.intro-tagline {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
}

.button {
  display: block;
  padding: 15px;
  font-size: inherit;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;

  font-weight: bold;
}

.button-green {
  border-color: var(--form-green);
  color: var(--form-green);
  width: 160px;
}

.wrapper-section {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 80px;
}

.section-headline {
  margin: 0;
  margin-bottom: 18px;
  font-size: 30px;
}

.section-description {
  margin: 0;
  line-height: 24px;
}

.mb-15 {
  margin-bottom: 15px;
}

.wrapper-text {
  width: 500px;
}

.wrapper-form {
  margin: 0 auto;
  width: 600px;
  padding-top: 65px;
  padding-bottom: 80px;
}

.talign-center {
  text-align: center;
}

form {
  margin: 0 auto;
  width: 460px;
}

.mb-40 {
  margin-bottom: 40px;
}

fieldset {
  margin: 0;
  padding: 0 20px;
  border: 2px solid var(--form-green);
}

legend {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  color:var(--form-green);
}

form label {
  font-weight: bold;
}

.mr-50 {
  margin-right: 50px;
}

select {
  box-sizing: border-box;
  padding: 8px;
  width: 150px;
  border-radius: 10px;
  background-color: #ffffff;
}

input[type="text"] {
  box-sizing: border-box;
  padding: 6px;
  width: 200px;
  border-radius: 10px;
  border-width: 1px;
}

.m-0 {
  margin: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mr-15 {
  margin-right: 15px;
}

.fs-13 {
  font-size: 13px;
}

.fs-18 {
  font-size: 18px;
}

.fw-b {
  font-weight: bold;
}
